.git
.github
.next
node_modules
coverage
out
build
*.pem
*.tsbuildinfo
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
README.md
PLANIFICACION.md
PROMPT_INICIAL.md
REFERENCIAS.md
STYLES.md
